Game Generator/XSDs/challengeMetadata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SearchMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Length"/>
        <xs:element type="xs:string" name="Difficulty"/>
        <xs:element name="Subject">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="General"/>
              <xs:element type="xs:string" name="Focus"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="QuestionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>